{% extends "base.html" %}

{% block title %} about {% endblock %}

{% block content %}

     <ul>
          <h3> About project </h3><br>
          <li>My Notes is a Python web application that implements a full—fledged text notes management service (CRUD).</li>
          <li>The project demonstrates the skills of building a reliable architecture and working with databases. </li>
          <li>The application is based on the Flask web framework. </li>
          <li>Fix your ideas, organize to-do lists, and put your thoughts in order in a couple of clicks. </li>
     </ul>
 <br>
<a href='/'> back </a>

{% endblock %}